// Colores del Tema
$color_1: #cba758;
$color_2: #fff;
$color_3: #ccc;
$font_family_1: inherit;
$border_color_1: #cba758;

// Tamaño de las fuentes
$fz_header: 1.625rem;
$fz_title_pst: 1.25rem;
$fz_desc_pst_cat: 3.063rem;
$fz_news_share: 2.813rem;
$fz_overlay: 5.625rem;
$fz_ttl_art: 6.625rem;
$fz_cite: 4.563rem;
$fz_share_ttl: 4rem;
$fz_foot: .75rem;

* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	width: 100%;
	height: auto;
	min-height: 100vh;
	overflow-x: hidden;
	font-family: $font_family_1;
	scroll-behavior: smooth;
}
html {
	width: 100%;
	height: auto;
	min-height: 100vh;
	overflow-x: hidden;
	font-family: $font_family_1;
	scroll-behavior: smooth;
}
header, 
form, 
.card-date, 
.tag-group, 
.lead {
	font-size: $fz_header !important;
}
.fz-pst_desc, 
.fz-cat {
	font-size: $fz_desc_pst_cat !important;
}
.fz_news, 
.fz-share {
	font-size: $fz_news_share !important;
}
.fz_overlay {
	font-size: $fz_overlay !important;
}
#title-article {
	font-size: $fz_ttl_art !important;
}
cite {
	font-size: $fz_cite !important;
}
.fz_comments {
	font-size: $fz_share_ttl !important;
}
#wrap-wrap {
	.navbar-nav {
		.nav-item-divider {
			display: none;
			.nav-link {
				&:hover {
					color: $color_1 !important;
				}
				>span {
					border-left: 1px solid #999;
				}
			}
		}
	}
	.navbar-light {
		.navbar-nav {
			.nav-link {
				padding: 10px 15px;
				transition: ease-in-out .3s all;
				border-top: 3px solid transparent;
				text-transform: uppercase;
				font-weight: bold;
				&:hover {
					color: $color_1;
				}
			}
		}
	}
	ul.navbar-nav.ml-auto {
		.nav-item {
			border-top: 3px solid transparent;
			.nav-item {
				&:active {
					border-top: 3px solid #cba758;
					.nav-link {
						padding: 10px 15px;
					}
				}
			}
		}
		.nav-item.active {
			border-top: 3px solid #cba758;
			.nav-link {
				padding: 10px 15px;
			}
		}
	}
	.dropdown-item.active {
		background: #cba758;
	}
	.dropdown-item {
		&:active {
			background: #cba758;
		}
	}
	.cd_bg-news-box {
		background: #dadada;
	}
	.tag-group {
		a {
			border-radius: 0 !important;
			padding: 1px 10px !important;
		}
	}
	.cd_input-normal {
		outline: none;
		&:focus {
			border: none;
			outline: none;
			border-color: $border_color_1;
			box-shadow: 0 0 0 0.2rem rgba(203, 167, 88, 0.5);
		}
	}
	textarea.cd_input-normal {
		outline: none;
		height: auto;
		width: 100%;
		min-width: 100%;
		max-height: 15rem;
		min-height: 10rem;
	}
	.input-main {
		border: 3px solid #cba758;
		background: transparent;
		color: $color_1;
		padding-bottom: 2rem;
		border-radius: 15px;
		transition: ease .3s;
		&:hover {
			cursor: text !important;
		}
		&::placeholder {
			color: $color_2;
		}
		&:focus {
			background: rgba(203, 167, 88, 0.1);
			outline: none;
			border-color: $border_color_1;
			color: $color_1;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.5);
				width: 100%;
				height: auto;
				min-height: 100vh;
			}
		}
	}
	.input-main--modal {
		color: $color_2;
		border: none;
		border-bottom: 2px solid #cba758;
		background: transparent;
		border-radius: 0 !important;
		&:focus {
			background: transparent;
			outline: none;
			border-color: $border_color_1;
			color: $color_2;
			box-shadow: 0 0 0 transparent !important;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.5);
				width: 100%;
				height: auto;
				min-height: 100vh;
				border: none;
			}
		}
	}
	.cd_border-bot-cat {
		border-bottom: 10px solid #cba758 !important;
	}
	.text-main {
		color: $color_1;
	}
	.text-main-hover {
		&:hover {
			color: $color_1 !important;
		}
	}
	.btn-main {
		background: #cba758;
		color: $color_2;
		&:hover {
			background: #b48c34 !important;
			color: $color_2;
		}
	}
	.box-shadow-sm {
		box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.03), 0 0.275rem 0.75rem -0.0625rem rgba(0, 0, 0, 0.06) !important;
	}
	.cd_bg-searchbar-blog {
		background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/img/pines-searchbar.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
	}
	.cd_footer-styles {
		a {
			font-size: $fz_foot;
			font-weight: bold;
			color: $color_3 !important;
		}
		p {
			font-size: $fz_foot;
			font-weight: bold;
			color: $color_3 !important;
		}
	}
	.cd_min-vh-md-15 {
		height: auto;
	}
	.cd_min-vh-60 {
		min-height: 60vh;
		height: auto;
	}
	.cd_min-vh-70 {
		min-height: 70vh;
		height: auto;
	}
	.cd_min-vh-75 {
		min-height: 75vh;
		height: auto;
	}
	.cd_w-md-50 {
		width: auto;
	}
	main#cd_main-article {
		border-top: 5px solid #cba758;
		margin-top: 5rem;
	}
	.cd_border-article {
		width: 100%;
		border-bottom: 4px solid #cba758;
	}
	.cd_fz-md-3rem {
		font-size: auto;
	}
	.cd_fz-md-2rem {
		font-size: auto;
	}
	#modal-search {
		display: none;
		transition: ease-in-out .5s all;
	}
	#modal-search.active {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.9);
		display: block;
		z-index: 1000000;
	}
	.w3c {
		position: fixed;
		bottom: 1%;
		left: 0;
	}
}
@media (min-width: 1200px) {
	#wrap-wrap {
		.navbar-nav {
			.nav-item-divider {
				display: block;
			}
		}
	}
}
@media (min-width: 578px) {
	#wrap-wrap {
		.cd_min-vh-md-15 {
			min-height: 15vh;
		}
		.cd_w-md-50 {
			width: 50%;
		}
		.cd_jc-md-end {
			justify-content: flex-end;
		}
		.cd_p-md-4 {
			padding: 1.5rem;
		}
		.cd_vw-md-15 {
			width: 15vw;
		}
		.cd_fz-md-3rem {
			font-size: 3rem;
		}
		.cd_fz-md-2rem {
			font-size: 2rem;
		}
	}
}
@media (min-width: 978px) {
	#wrap-wrap {
		main#cd_main-article {
			margin-top: 6.2rem !important;
		}
	}
}